body {
    padding-top: 70px;
}

/*
|--------------------------------------------------------------------------
| NAVBAR
|--------------------------------------------------------------------------
*/
.navbar .navbar-code a {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
